header,footer {
	font-family: 'Scada', sans-serif;
	font-weight: 400;
}



ul {
	list-style-type: none;
}

a:hover {
	text-decoration: none;
}

.flex-container {
	display:  flex;
}


.logo-block {
	justify-content: start;
	align-items: center;
}

.logo {
	width: 120px;
	height: 120px;
	background-image: url('../logo/logo.png');
	background-size: cover;
}

.logo-ukr {
	width: 260px;
	height: 70px;
	background-image: url('../logo/logo-ukr.png');
	background-size: cover;
}

.logo-en {
	width: 450px;
	height: 70px;
	background-image: url('../logo/logo-en-new.png');
	background-size: cover;
}

.logo-text {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
	font-weight: 700;
	font-size: 26px;
	line-height: 28px;
	color: #795447;
}

.logo-p {
	margin-bottom: 2px;
}

.link {
	text-decoration: none;
}

.uppercase {
	text-transform: uppercase;
}

.nav-link {
	font-size: 18px;
	line-height: 22px;
	padding: 10px 15px;
	border-radius: 5px;
	margin-top: 15px;
	margin-left: 15px;
}

.donate-link {
	font-size: 18px;
	line-height: 22px;
	padding: 10px 15px;
	border-radius: 5px;
	margin-top: 15px;
	margin-left: 15px;
	font-weight: bold;
	background-color: #2c85dd;
	color: #4b4e53;
}

.menu-link {
	color: #2c85dd;
	font-weight: bold;
}

.lang-link {
	color: #795447;
}

.nav-list {
	align-items: center;
   	max-width: 700px;
}

.nav-container {
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.nav-line {
	height: 56px;
	width: 2px;
	background-color: #795447;
	margin-top: 15px;
	margin-right: 5px;
	margin-left: 5px;
}

.menu-link:hover {
	background-color: #8FC9F9;
	color: #795447;
}

.lang-link:hover {
	color: #795447;
}

.header-nav {
	justify-content: space-between;
	padding-bottom: 5px;
}

.background-light {
	background-color: #FFFAFA;
}

.background-graphite {
	background-color: #4b4e53;
}

.border-low {
	border-bottom: 2px solid #795447;
}

.border-up {
	border-top: 2px solid #795447;
}

.footer-items {
	display: flex;
	justify-content: space-between;
	padding: 16px;
}

.background-brown-dark {
	background-color: #443029;
}

.site-footer {
	color: #2c85dd;
}

.footer-logo {
	width: 80px;
	height: 80px;
}

.footer-logo-text {
	font-size: 20px;
	line-height: 24px;
	color: white;
}

.footer-nav {
	margin-top: 3px;
}

.footer-menu {
	padding-inline-start: 15px;
}

.footer-link {
	color: #2c85dd;
}

.footer-link:hover {
	color: #2c85dd;
}

.donate-link:hover {
	color: #4b4e53;
}

.contacts-title {
	font-size: 24px;
	margin-top: 16px;
}

.contacts-item {
	font-size: 18px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.second-mail {
	margin-left: 58px;
}

.media-img {
	width: 40px;
}

.lang-img {
		width: 30px;
		height: 20px;
	}

.media-links {
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.media-up {
	margin-bottom: 10px;
	justify-content: space-between;
}

.media-container {
	margin-top: 10px;
	margin-left: 10px;
	justify-content: center;
}

.right-block {
	justify-content: center;
	align-items: center;
}